  {% extends "base.html" %}
  {% block contents %}
  <body>
    <br>
    
    <div class="container">
      <div class="h1">
        <div class="alert alert-warning" role="alert">
          <b>관리자 메뉴</b>
        </div>
      </div>
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="{%url 'create'%}">상품 추가(Create)</a>
        <a class="list-group-item list-group-item-action" href="{%url 'show'%}">상품 목록(Read)</a>
        <a class="list-group-item list-group-item-action" href="{%url 'updateSearch'%}">상품 수정(Update)</a>
        <a class="list-group-item list-group-item-action" href="{%url 'deleteSearch'%}">상품 삭제(Delete)</a>
      </div>
    </div>
    

</body>
{% endblock %}

