  {% extends "base.html" %}
  {% block contents %}
  <body>
    <br>
    
    <div class="container">
      <div class="h1">
        <div class="alert alert-warning" role="alert">
          <b>수정할 상품 검색</b>
        </div>
      </div>
      
       <form class="form-inline my-2 my-lg-0" action="{%url 'search'%}">
        <input class="form-control mr-sm-2" type="search" placeholder="수정할 상품명 검색" aria-label="Search" name='product_name'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
    </div>
    

</body>
{% endblock %}

