  {% extends "base.html" %}
  {% block contents %}
  <body>
    <br>
    
    <div class="container">
      <div class="h1">
        <div class="alert alert-warning" role="alert">
          <b>상품 수정(Update)</b>
        </div>
      </div>
      
      <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">검색된 상품명</th>
            <th scope="col">검색된 상품가격(원)</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
            <th scope="row">{{product.id}}</th>
            <td>{{product.product_name}}</td>
            <td>{{product.product_price}}</td>
            </tr>
        </tbody>
        
    </table>
    
      <form action="{%url 'update'%}">
        
        <div class="row">
          <div class="col">
          <input type="hidden" name="product_id" value={{product.id}}>
            <input type="text" class="form-control" placeholder="새로운 상품명 입력" name = 'product_name'>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="새로운 상품가격 입력" name = 'product_price'>
          </div>
        </div><br>
        <button type="submit" class="btn btn-primary">수정!</button>
      </form>
    </div>
    

</body>
{% endblock %}

